{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">Contact</h1>
  <div class="row">
    <form class="col-xl-12 col-xl-12">
      <div class="form-group row">
        <label for="input1" class="col-sm-1 col-form-label">Title</label>
        <div class="col-sm-11">
          <input class="form-control" id="input1">
        </div>
      </div>
      <div class="form-group row">
        <label for="input1" class="col-sm-1 col-form-label">Address</label>
        <div class="col-sm-11">
          <input class="form-control" id="input1">
        </div>
      </div>
      <div class="form-group row">
        <label for="input1" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
          <input class="form-control" id="input1">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}